In [9]:
import pandas as pd
import re
import numpy as np
from scipy import stats
import scipy as sp
from sklearn import metrics
from bayesian_player_ratings import *

import os
import warnings
warnings.filterwarnings('ignore')
pd.options.display.max_rows = 999
pd.options.display.max_columns = 999
pd.set_option('display.precision', 4)

Load Match Summary Data

In [10]:
match_summary = pd.read_csv("/Users/ciaran/Documents/Projects/AFL/data/match_summary.csv")
match_summary = score_col_splitter(match_summary, "Q4_Score")
match_summary['Season'] = match_summary['Match_ID'].apply(lambda x: int(x[:4]))

player_stats = pd.read_csv("/Users/ciaran/Documents/Projects/AFL/data/scored_player_stats_v2.csv")
player_stats = create_additional_player_stats_variables(player_stats)
player_stats['exp_vaep_value'] = player_stats['exp_vaep_value'].fillna(0)
player_stats['exp_offensive_value'] = player_stats['exp_offensive_value'].fillna(0)
player_stats['exp_defensive_value'] = player_stats['exp_defensive_value'].fillna(0)

match_stats = aggregate_player_to_match_stats(player_stats)

match_summary_stats = match_summary.merge(match_stats, how = "left", on = "Match_ID")

In [11]:
def calculate_probabilities(rating_diff, std):
    
    diff = stats.norm(loc = rating_diff, scale = std)
    
    away_prob = diff.cdf(0)
    draw_prob = diff.pdf(0)
    home_prob = 1 - away_prob - draw_prob
    
    return home_prob, draw_prob, away_prob

In [12]:
def get_round_predictions(player_stats, round_id, match_std = 35):
    
    round_match_list = list(player_stats[player_stats['Round_ID'] == round_id]['Match_ID'].unique())
    
    match_projections_dict = {}
    for match_id in round_match_list:
        match_projections_dict[match_id] = {}
        home_team, away_team = get_teams(match_id)
        home_rating = ratings.team_values[round_id][ratings.team_values[round_id]['Team'] == home_team]['Rating'].iloc[0]
        away_rating = ratings.team_values[round_id][ratings.team_values[round_id]['Team'] != home_team]['Rating'].iloc[0]
        rating_difference = home_rating - away_rating
        home_prob, draw_prob, away_prob = calculate_probabilities(rating_difference, match_std)
        match_projections_dict[match_id]['projected_diff'] = rating_difference
        # match_projections_dict[match_id]['projected_prob'] = home_prob
        
        home_exp_vaep = player_stats[(player_stats['Match_ID'] == match_id) & (player_stats['Team'] == player_stats['Home_Team'])]['exp_vaep_value'].sum()
        away_exp_vaep = player_stats[(player_stats['Match_ID'] == match_id) & (player_stats['Team'] != player_stats['Home_Team'])]['exp_vaep_value'].sum()
        exp_vaep_result = home_exp_vaep - away_exp_vaep
        # match_projections_dict[match_id]['exp_vaep_diff'] = exp_vaep_result        
        
        home_score = match_summary_stats[(match_summary_stats['Match_ID'] == match_id)]['Home_Score'].sum()
        away_score = match_summary_stats[(match_summary_stats['Match_ID'] == match_id)]['Away_Score'].sum()
        result = home_score - away_score
        match_projections_dict[match_id]['margin'] = result
        
        match_projections_dict[match_id]['mae'] = abs(match_projections_dict[match_id]['margin'] - match_projections_dict[match_id]['projected_diff'])

    return match_projections_dict

In [13]:
player_stats_2021 = player_stats[player_stats['Season'] == 2021]
match_summary_stats_2021 = match_summary_stats[match_summary_stats['Season'] == 2021]

In [14]:
ratings = TeamRatings(prior_weight = 1.8)
ratings.calculate_home_advantage(match_summary_stats_2021)
ratings.initialise_player_values(player_stats_2021)
ratings.initialise_team_values(player_stats_2021)
ratings.calculate_home_advantage(match_summary_stats_2021)
ratings.latest_round

'Start'

Rounds

In [15]:
round_projections_dict = {}
round_mae_dict = {}

In [16]:
round_id = '202101'
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 20.57
Overall MAE: 20.57

                      Team  Rating  Offensive_Value  Defensive_Value
13                Richmond  3.7541          11.9349           8.1808
10               Melbourne  2.8527           9.0964           6.2437
16              West Coast  2.7887          10.4664           7.6777
12           Port Adelaide  2.7859          11.7402           8.9543
17        Western Bulldogs  2.6695           9.5806           6.9112
15                  Sydney  2.0804           9.7485           7.6682
8   Greater Western Sydney  1.1833          10.4971           9.3138
4                 Essendon  0.2944           9.1347           8.8403
0                 Adelaide  0.0000           0.0000           0.0000
6                  Geelong  0.0000           0.0000           0.0000
9                 Hawthorn -0.2944           8.8403           9.1347
14                St Kilda -1.1833           9.3138          10.4971
1           Brisbane Lions -2.0804           7.6682           9.7485
3              Collingwood -2.6695           6.9112           9.5806
11         North Melbourne -2.7859           8.9543          11.7402
7               Gold Coast -2.7887           7.6777          10.4664
5                Fremantle -2.8527           6.2437           9.0964
2                  Carlton -3.7541           8.1808          11.9349

In [17]:
round_id = "202102"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 25.14
Overall MAE: 22.85

                      Team  Rating  Offensive_Value  Defensive_Value
13                Richmond  6.6755          20.7919          14.1164
10               Melbourne  6.1548          19.6530          13.4982
12           Port Adelaide  4.6833          19.3440          14.6606
7               Gold Coast  4.5917          17.6017          13.0100
17        Western Bulldogs  3.6506          19.4382          15.7876
15                  Sydney  1.3141          18.5548          17.2407
16              West Coast  1.2618          18.9715          17.7097
5                Fremantle  1.2128          18.2377          17.0248
0                 Adelaide  0.5582          11.4547          10.8965
6                  Geelong  0.1202           8.4762           8.3560
3              Collingwood -1.1502          16.9702          18.1204
4                 Essendon -1.9110          14.7657          16.6767
1           Brisbane Lions -1.9925          15.0578          17.0503
8   Greater Western Sydney -2.7153          17.4310          20.1463
9                 Hawthorn -3.5618          14.7729          18.3348
2                  Carlton -4.6310          16.7274          21.3585
14                St Kilda -4.6524          16.1208          20.7732
11         North Melbourne -9.6088          10.7569          20.3658

In [18]:
round_id = "202103"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 39.35
Overall MAE: 28.35

                      Team   Rating  Offensive_Value  Defensive_Value
17        Western Bulldogs  13.2773          31.1760          17.8987
10               Melbourne   8.8489          28.1256          19.2768
15                  Sydney   4.3175          26.5930          22.2755
7               Gold Coast   3.3199          23.8101          20.4902
16              West Coast   3.2443          26.0734          22.8291
13                Richmond   2.8732          25.0184          22.1453
12           Port Adelaide   2.1063          25.5840          23.4777
0                 Adelaide   1.3150          19.3356          18.0206
2                  Carlton   1.2884          26.2276          24.9392
4                 Essendon   1.1531          20.9828          19.8296
1           Brisbane Lions  -0.8667          21.8594          22.7262
6                  Geelong  -0.9718          15.4088          16.3805
3              Collingwood  -1.9617          23.8600          25.8217
9                 Hawthorn  -2.1257          21.2273          23.3530
5                Fremantle  -4.3648          21.5854          25.9502
8   Greater Western Sydney  -5.7533          21.9934          27.7467
14                St Kilda  -7.0602          21.1610          28.2212
11         North Melbourne -18.6398          11.7742          30.4140

In [19]:
round_id = "202104"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 13.39
Overall MAE: 24.61

                      Team   Rating  Offensive_Value  Defensive_Value
17        Western Bulldogs  15.2141          38.8076          23.5935
10               Melbourne  10.4368          34.5264          24.0895
15                  Sydney   5.5517          33.4331          27.8814
2                  Carlton   5.5047          33.4666          27.9619
12           Port Adelaide   4.5142          32.7261          28.2119
0                 Adelaide   3.5150          27.6744          24.1594
5                Fremantle   0.0665          28.2352          28.1687
13                Richmond  -0.0327          26.4724          26.5051
4                 Essendon  -0.6281          27.4937          28.1218
16              West Coast  -0.7247          27.5855          28.3102
7               Gold Coast  -1.3572          26.2074          27.5646
3              Collingwood  -2.5098          27.8731          30.3829
14                St Kilda  -2.7096          26.4157          29.1252
6                  Geelong  -3.3475          19.8387          23.1862
1           Brisbane Lions  -4.0445          27.4996          31.5441
8   Greater Western Sydney  -4.4337          22.5908          27.0245
9                 Hawthorn  -5.9079          26.5451          32.4530
11         North Melbourne -19.1073          19.1752          38.2824

In [20]:
round_id = "202105"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 35.67
Overall MAE: 26.82

                      Team   Rating  Offensive_Value  Defensive_Value
17        Western Bulldogs  18.7335          43.2553          24.5218
10               Melbourne  15.0434          37.9149          22.8716
13                Richmond   6.6351          37.4529          30.8178
2                  Carlton   4.9135          37.6163          32.7028
12           Port Adelaide   4.1034          34.4185          30.3151
15                  Sydney   3.7708          35.9096          32.1387
6                  Geelong   2.3376          27.7849          25.4474
0                 Adelaide   1.6737          33.8877          32.2140
1           Brisbane Lions   1.6699          35.6723          34.0023
5                Fremantle   1.5497          35.6557          34.1061
16              West Coast  -1.1954          31.2104          32.4058
3              Collingwood  -1.7156          30.9229          32.6385
8   Greater Western Sydney  -2.7646          30.3664          33.1310
4                 Essendon  -5.8754          30.0523          35.9276
7               Gold Coast  -6.2624          28.1107          34.3731
14                St Kilda  -9.1031          27.6540          36.7571
9                 Hawthorn -10.9674          25.8905          36.8579
11         North Melbourne -22.5468          22.7571          45.3039

In [21]:
round_id = "202106"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 36.79
Overall MAE: 28.49

                      Team   Rating  Offensive_Value  Defensive_Value
17        Western Bulldogs  21.0018          51.3912          30.3894
10               Melbourne  14.1135          43.4721          29.3586
6                  Geelong   7.8026          36.0280          28.2253
12           Port Adelaide   6.4242          41.4842          35.0601
5                Fremantle   6.2749          41.1852          34.9104
13                Richmond   5.3971          40.8808          35.4837
2                  Carlton   3.8279          43.6479          39.8200
1           Brisbane Lions   2.0973          43.2871          41.1898
0                 Adelaide   0.8393          39.5417          38.7023
7               Gold Coast  -0.0031          39.0699          39.0730
15                  Sydney  -2.2393          34.8563          37.0956
3              Collingwood  -3.2291          28.6420          31.8711
4                 Essendon  -3.6028          33.3873          36.9901
8   Greater Western Sydney  -6.6298          35.3641          41.9939
16              West Coast  -6.7747          30.8134          37.5881
9                 Hawthorn  -9.2037          33.1874          42.3911
14                St Kilda -10.9239          33.7832          44.7071
11         North Melbourne -25.1723          26.0705          51.2428

In [22]:
round_id = "202107"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 32.08
Overall MAE: 29.00

                      Team   Rating  Offensive_Value  Defensive_Value
17        Western Bulldogs  16.7103          50.4999          33.7895
10               Melbourne  14.6536          47.8309          33.1774
6                  Geelong  10.4452          39.8359          29.3908
13                Richmond   7.0487          44.6353          37.5866
1           Brisbane Lions   5.2707          44.1793          38.9086
2                  Carlton   4.9979          50.2361          45.2382
12           Port Adelaide   2.3986          39.4089          37.0103
5                Fremantle   1.0616          40.0062          38.9446
7               Gold Coast   0.0171          43.5682          43.5511
16              West Coast  -1.5114          36.8154          38.3268
8   Greater Western Sydney  -1.7584          43.4432          45.2016
3              Collingwood  -2.9260          36.2513          39.1773
0                 Adelaide  -3.4529          41.0677          44.5206
14                St Kilda  -4.0565          42.0975          46.1540
4                 Essendon  -4.7954          41.2069          46.0023
15                  Sydney  -5.4382          39.2974          44.7355
9                 Hawthorn -14.0583          31.9887          46.0470
11         North Melbourne -24.6065          30.6652          55.2716

In [23]:
round_id = "202108"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 21.39
Overall MAE: 28.05

                      Team   Rating  Offensive_Value  Defensive_Value
17        Western Bulldogs  17.0397          54.6324          37.5927
6                  Geelong  14.6833          43.6321          28.9488
10               Melbourne  12.9839          49.9455          36.9616
12           Port Adelaide   7.4609          50.1058          42.6448
1           Brisbane Lions   7.3831          52.0874          44.7043
2                  Carlton   2.4978          55.7985          53.3007
16              West Coast   2.4038          42.1375          39.7337
13                Richmond   1.0612          44.7522          43.6910
8   Greater Western Sydney  -0.5561          49.0147          49.5708
7               Gold Coast  -1.0501          47.8524          48.9025
5                Fremantle  -1.6841          43.1887          44.8728
14                St Kilda  -2.5854          46.6322          49.2175
3              Collingwood  -3.0067          42.2698          45.2765
15                  Sydney  -4.6900          44.5211          49.2112
4                 Essendon  -5.3424          47.9406          53.2829
0                 Adelaide  -8.4098          44.2837          52.6935
9                 Hawthorn -16.4165          37.7452          54.1617
11         North Melbourne -21.7726          39.2342          61.0068

In [24]:
round_id = "202109"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 21.11
Overall MAE: 27.28

                      Team   Rating  Offensive_Value  Defensive_Value
17        Western Bulldogs  16.4805          58.3124          41.8319
10               Melbourne  13.7421          51.6061          37.8640
6                  Geelong  12.7553          46.6258          33.8705
1           Brisbane Lions  12.6364          58.3472          45.7108
12           Port Adelaide   5.5700          50.8239          45.2539
16              West Coast   2.9795          50.5474          47.5680
8   Greater Western Sydney   0.5092          45.9953          45.4860
2                  Carlton   0.1914          53.3547          53.1633
13                Richmond  -0.0546          37.9104          37.9650
5                Fremantle  -0.7056          47.7711          48.4766
15                  Sydney  -1.2930          49.2218          50.5148
14                St Kilda  -1.8672          47.9954          49.8626
4                 Essendon  -5.6182          48.4103          54.0286
3              Collingwood  -5.6340          43.6016          49.2356
7               Gold Coast  -6.9367          43.2285          50.1652
0                 Adelaide  -8.3849          45.1342          53.5191
9                 Hawthorn -16.5144          46.4398          62.9542
11         North Melbourne -17.8558          41.5149          59.3707

In [25]:
round_id = "202110"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 23.94
Overall MAE: 26.94

                      Team   Rating  Offensive_Value  Defensive_Value
17        Western Bulldogs  24.0119          66.0815          42.0696
1           Brisbane Lions  14.2196          57.8978          43.6782
10               Melbourne  13.6116          55.0156          41.4040
6                  Geelong  12.2539          51.6183          39.3644
12           Port Adelaide   4.6066          47.6757          43.0691
8   Greater Western Sydney   2.7750          48.8826          46.1075
5                Fremantle   1.8113          52.6161          50.8047
2                  Carlton   0.5825          57.0782          56.4957
16              West Coast   0.3648          51.3866          51.0218
4                 Essendon  -0.2816          54.2437          54.5252
13                Richmond  -2.8960          40.0703          42.9663
15                  Sydney  -3.6101          50.1834          53.7935
3              Collingwood  -4.6642          45.8567          50.5209
7               Gold Coast  -7.0171          47.8513          54.8684
0                 Adelaide  -8.7902          52.3121          61.1022
14                St Kilda -10.8600          46.3386          57.1985
9                 Hawthorn -15.2732          48.6282          63.9015
11         North Melbourne -20.8450          44.1562          65.0012

In [26]:
round_id = "202111"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 27.00
Overall MAE: 26.95

                      Team   Rating  Offensive_Value  Defensive_Value
17        Western Bulldogs  19.3930          63.4969          44.1040
1           Brisbane Lions  17.0626          63.4435          46.3809
10               Melbourne  14.4682          62.1123          47.6441
6                  Geelong  12.0505          48.2336          36.1832
12           Port Adelaide   5.8511          53.1675          47.3164
4                 Essendon   5.1291          58.7593          53.6302
5                Fremantle  -0.0749          54.5210          54.5959
2                  Carlton  -0.3309          59.6713          60.0022
13                Richmond  -1.6432          46.0966          47.7398
8   Greater Western Sydney  -1.7674          48.2495          50.0169
15                  Sydney  -2.3939          52.3927          54.7867
7               Gold Coast  -2.6563          54.2133          56.8696
16              West Coast  -5.0542          51.9001          56.9543
3              Collingwood  -5.2198          46.2716          51.4913
14                St Kilda  -5.7040          49.9743          55.6782
0                 Adelaide  -8.8743          54.9666          63.8409
9                 Hawthorn -17.4050          47.8902          65.2952
11         North Melbourne -22.8305          46.7952          69.6257

In [27]:
round_id = "202112"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 21.02
Overall MAE: 26.45

                      Team   Rating  Offensive_Value  Defensive_Value
17        Western Bulldogs  22.1707          68.0337          45.8630
10               Melbourne  15.8317          65.0566          49.2249
1           Brisbane Lions  12.5460          71.2108          58.6648
6                  Geelong  12.0505          48.2336          36.1832
12           Port Adelaide   5.8511          53.1675          47.3164
4                 Essendon   3.6616          61.8283          58.1667
2                  Carlton   0.2462          59.6582          59.4120
13                Richmond  -0.5243          55.8317          56.3560
15                  Sydney  -1.3313          61.5530          62.8843
8   Greater Western Sydney  -1.7674          48.2495          50.0169
7               Gold Coast  -2.6563          54.2133          56.8696
5                Fremantle  -4.7844          53.5434          58.3279
16              West Coast  -5.0928          41.8568          46.9495
14                St Kilda  -5.9568          56.5386          62.4954
3              Collingwood  -6.1167          46.1082          52.2249
0                 Adelaide  -6.5680          56.2050          62.7731
9                 Hawthorn -17.4050          47.8902          65.2952
11         North Melbourne -22.8305          46.7952          69.6257

In [28]:
round_id = "202113"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 22.21
Overall MAE: 26.13

                      Team   Rating  Offensive_Value  Defensive_Value
17        Western Bulldogs  22.1707          68.0337          45.8630
10               Melbourne  13.4527          66.4328          52.9802
1           Brisbane Lions  12.5460          71.2108          58.6648
6                  Geelong  11.5621          57.9758          46.4136
12           Port Adelaide   4.5493          55.0667          50.5174
4                 Essendon   3.6616          61.8283          58.1667
13                Richmond   1.0200          58.2522          57.2322
2                  Carlton   0.2462          59.6582          59.4120
8   Greater Western Sydney  -0.5703          55.7333          56.3036
7               Gold Coast  -2.8604          55.7948          58.6552
5                Fremantle  -3.8363          44.0098          47.8460
15                  Sydney  -4.1270          61.2094          65.3364
0                 Adelaide  -4.2084          60.5803          64.7887
3              Collingwood  -4.7092          49.3368          54.0460
16              West Coast  -6.0754          49.5762          55.6515
14                St Kilda  -7.0639          52.8281          59.8920
9                 Hawthorn -12.7357          52.6400          65.3757
11         North Melbourne -21.5678          49.2951          70.8629

In [29]:
round_id = "202114"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 20.12
Overall MAE: 25.70

                      Team   Rating  Offensive_Value  Defensive_Value
17        Western Bulldogs  18.2534          67.7048          49.4514
1           Brisbane Lions  15.2071          65.8231          50.6160
10               Melbourne  13.4527          66.4328          52.9802
6                  Geelong  12.1061          61.6746          49.5685
12           Port Adelaide   8.5072          58.5379          50.0306
4                 Essendon   3.1456          59.1271          55.9815
13                Richmond   1.0200          58.2522          57.2322
2                  Carlton   0.2210          61.2821          61.0611
8   Greater Western Sydney  -0.5128          58.0877          58.6005
5                Fremantle  -3.8363          44.0098          47.8460
15                  Sydney  -4.1270          61.2094          65.3364
0                 Adelaide  -4.2084          60.5803          64.7887
3              Collingwood  -4.7092          49.3368          54.0460
16              West Coast  -6.0754          49.5762          55.6515
7               Gold Coast  -6.9872          52.7033          59.6905
14                St Kilda  -7.0639          52.8281          59.8920
9                 Hawthorn -11.3123          52.8466          64.1589
11         North Melbourne -23.3267          49.3212          72.6479

In [30]:
round_id = "202115"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 21.68
Overall MAE: 25.43

                      Team   Rating  Offensive_Value  Defensive_Value
17        Western Bulldogs  23.3044          69.9393          46.6349
1           Brisbane Lions  17.4648          75.5380          58.0732
10               Melbourne  13.7490          70.9901          57.2411
12           Port Adelaide   8.9185          55.9934          47.0749
6                  Geelong   7.1171          61.5280          54.4110
2                  Carlton   2.2768          67.2287          64.9519
4                 Essendon   1.1894          63.9789          62.7894
13                Richmond  -0.7748          57.6842          58.4590
8   Greater Western Sydney  -2.5226          58.5656          61.0882
5                Fremantle  -3.6804          53.9355          57.6159
3              Collingwood  -4.0105          53.3446          57.3551
14                St Kilda  -4.6647          58.8319          63.4966
15                  Sydney  -4.9763          60.9248          65.9011
0                 Adelaide  -5.8654          65.3797          71.2451
9                 Hawthorn  -8.1200          57.9056          66.0255
7               Gold Coast  -9.4308          48.7674          58.1982
16              West Coast -12.3441          54.9426          67.2867
11         North Melbourne -17.8518          52.0876          69.9394

In [31]:
round_id = "202116"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 26.32
Overall MAE: 25.49

                      Team   Rating  Offensive_Value  Defensive_Value
17        Western Bulldogs  22.5323          73.2488          50.7165
1           Brisbane Lions  17.5353          74.6820          57.1467
10               Melbourne  12.4740          71.9886          59.5146
12           Port Adelaide  10.7115          59.1355          48.4240
6                  Geelong   9.2131          62.9133          53.7001
2                  Carlton   1.2490          64.0273          62.7783
15                  Sydney   1.0451          66.6266          65.5814
4                 Essendon  -1.7372          61.9628          63.7001
8   Greater Western Sydney  -2.3702          64.5204          66.8905
5                Fremantle  -2.5122          61.2425          63.7547
3              Collingwood  -3.7065          58.0131          61.7196
14                St Kilda  -4.1012          60.0130          64.1142
13                Richmond  -4.3704          55.5818          59.9522
7               Gold Coast  -4.8146          51.3714          56.1861
0                 Adelaide  -7.0959          64.2515          71.3474
9                 Hawthorn  -9.9928          53.7622          63.7549
16              West Coast -16.6335          49.8704          66.5039
11         North Melbourne -17.6249          54.3316          71.9565

In [32]:
round_id = "202117"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 38.40
Overall MAE: 26.25

                      Team   Rating  Offensive_Value  Defensive_Value
17        Western Bulldogs  19.7591          68.1457          48.3867
10               Melbourne  15.2282          77.6773          62.4491
1           Brisbane Lions  14.4241          80.1063          65.6822
6                  Geelong   8.3359          59.9796          51.6437
12           Port Adelaide   5.6387          64.3865          58.7478
4                 Essendon   4.6719          65.3320          60.6601
5                Fremantle   2.4326          63.5361          61.1035
15                  Sydney   1.4606          67.0814          65.6208
2                  Carlton   1.0800          67.5015          66.4215
3              Collingwood  -0.2394          59.1785          59.4180
8   Greater Western Sydney  -1.8462          64.4765          66.3227
14                St Kilda  -2.3333          64.2053          66.5386
7               Gold Coast  -4.6201          57.7241          62.3442
13                Richmond  -7.0298          49.3994          56.4292
0                 Adelaide -12.6217          59.6659          72.2876
9                 Hawthorn -13.6871          50.1007          63.7878
11         North Melbourne -14.4050          56.2613          70.6663
16              West Coast -16.4276          53.4696          69.8972

In [33]:
round_id = "202118"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 31.48
Overall MAE: 26.54

                      Team   Rating  Offensive_Value  Defensive_Value
17        Western Bulldogs  15.9213          71.2185          55.2972
10               Melbourne  15.5642          77.9295          62.3653
6                  Geelong  13.6824          64.7844          51.1021
1           Brisbane Lions  12.8491          78.1466          65.2975
12           Port Adelaide   6.8454          61.2837          54.4383
4                 Essendon   5.3433          66.7260          61.3827
2                  Carlton   4.9229          70.2441          65.3211
15                  Sydney   1.4620          63.1295          61.6674
8   Greater Western Sydney  -1.8090          60.5636          62.3726
7               Gold Coast  -2.2962          57.9629          60.2591
14                St Kilda  -3.8706          64.2084          68.0789
5                Fremantle  -3.9907          62.8325          66.8232
3              Collingwood  -4.1664          61.6457          65.8121
13                Richmond  -6.1943          57.0953          63.2896
16              West Coast -10.8108          54.9147          65.7256
11         North Melbourne -14.1031          53.8435          67.9466
9                 Hawthorn -14.1772          49.7780          63.9552
0                 Adelaide -15.3335          64.2507          79.5842

In [34]:
round_id = "202119"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 27.17
Overall MAE: 26.57

                      Team   Rating  Offensive_Value  Defensive_Value
1           Brisbane Lions  16.5218          82.7084          66.1866
17        Western Bulldogs  14.3193          73.1901          58.8709
10               Melbourne  14.0177          78.4645          64.4468
6                  Geelong  13.7270          70.8833          57.1563
12           Port Adelaide   8.6473          68.5704          59.9231
15                  Sydney   4.4137          71.1390          66.7254
2                  Carlton   3.8312          71.2967          67.4655
4                 Essendon   3.8217          68.3214          64.4997
8   Greater Western Sydney  -0.6409          60.9009          61.5418
14                St Kilda  -4.6059          57.8703          62.4762
3              Collingwood  -6.2362          56.2595          62.4958
5                Fremantle  -6.6895          62.2596          68.9491
13                Richmond  -6.9878          56.5907          63.5785
7               Gold Coast  -7.0242          60.4934          67.5176
16              West Coast  -8.6074          59.5821          68.1895
11         North Melbourne -12.0933          62.9376          75.0309
0                 Adelaide -12.9528          66.9559          79.9087
9                 Hawthorn -13.6068          61.9340          75.5408

In [35]:
round_id = "202120"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 32.42
Overall MAE: 26.86

                      Team   Rating  Offensive_Value  Defensive_Value
10               Melbourne  20.7323          80.6683          59.9360
17        Western Bulldogs  16.4973          75.0285          58.5312
6                  Geelong  16.1083          65.7925          49.6842
1           Brisbane Lions  15.2710          83.8881          68.6171
12           Port Adelaide   9.3690          74.0760          64.7071
15                  Sydney   4.1122          76.6144          72.5023
4                 Essendon   3.2997          69.3210          66.0213
2                  Carlton   2.5908          64.9474          62.3567
8   Greater Western Sydney  -2.1632          66.0265          68.1897
3              Collingwood  -2.7225          60.7676          63.4902
14                St Kilda  -3.2880          62.8222          66.1102
13                Richmond  -5.6570          56.4476          62.1046
5                Fremantle  -6.6526          50.5946          57.2472
16              West Coast -10.6367          59.4057          70.0424
9                 Hawthorn -12.6476          60.8061          73.4537
7               Gold Coast -14.4381          52.2035          66.6416
11         North Melbourne -14.6380          48.4750          63.1129
0                 Adelaide -15.2675          66.5424          81.8100

In [36]:
round_id = "202121"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 31.92
Overall MAE: 27.10

                      Team   Rating  Offensive_Value  Defensive_Value
10               Melbourne  21.2086          76.9651          55.7565
1           Brisbane Lions  19.5808          80.0961          60.5153
17        Western Bulldogs  18.5499          80.1643          61.6144
6                  Geelong  14.8759          68.1349          53.2590
12           Port Adelaide   8.7809          77.9770          69.1961
2                  Carlton   1.0249          66.4171          65.3922
15                  Sydney   0.8275          77.2130          76.3855
14                St Kilda  -0.0857          65.8873          65.9731
4                 Essendon  -0.7326          67.9200          68.6525
13                Richmond  -2.1170          57.5797          59.6967
3              Collingwood  -2.1226          63.8721          65.9947
8   Greater Western Sydney  -2.3253          49.9810          52.3063
7               Gold Coast -11.6875          54.6304          66.3179
9                 Hawthorn -11.7105          66.5652          78.2756
5                Fremantle -11.8242          52.0106          63.8348
16              West Coast -12.1225          56.2867          68.4092
0                 Adelaide -14.0896          63.7029          77.7925
11         North Melbourne -16.1485          58.1390          74.2875

In [37]:
round_id = "202122"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 29.69
Overall MAE: 27.22

                      Team   Rating  Offensive_Value  Defensive_Value
10               Melbourne  22.0449          74.5634          52.5184
1           Brisbane Lions  22.0106          87.8728          65.8623
6                  Geelong  15.3136          70.0637          54.7501
12           Port Adelaide  14.2913          83.3891          69.0978
17        Western Bulldogs  14.2447          82.0319          67.7872
4                 Essendon   4.6108          74.6956          70.0847
15                  Sydney   2.2296          68.2814          66.0518
8   Greater Western Sydney   0.2103          62.7250          62.5148
14                St Kilda  -2.0024          64.9389          66.9413
13                Richmond  -4.2083          57.5491          61.7574
2                  Carlton  -5.4662          51.6868          57.1530
3              Collingwood  -6.2982          63.0522          69.3504
9                 Hawthorn  -8.0892          59.4816          67.5708
16              West Coast -10.5090          61.3410          71.8499
5                Fremantle -11.0430          53.0618          64.1048
0                 Adelaide -15.6378          59.7826          75.4204
7               Gold Coast -15.7889          56.5212          72.3101
11         North Melbourne -16.0185          58.0841          74.1026

In [38]:
round_id = "202123"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 32.62
Overall MAE: 27.46

                      Team   Rating  Offensive_Value  Defensive_Value
1           Brisbane Lions  21.9020          88.8456          66.9437
10               Melbourne  19.8148          81.0300          61.2152
12           Port Adelaide  14.7561          81.6270          66.8709
6                  Geelong  13.8078          73.0132          59.2054
17        Western Bulldogs  10.9263          78.6308          67.7044
15                  Sydney   7.0164          74.6431          67.6267
4                 Essendon   6.9632          77.7885          70.8253
8   Greater Western Sydney   3.7118          72.9718          69.2601
14                St Kilda   0.3391          61.5406          61.2014
13                Richmond  -2.1427          57.4322          59.5749
2                  Carlton  -8.4421          57.7170          66.1590
3              Collingwood  -8.4818          59.3811          67.8629
0                 Adelaide  -8.7194          66.1740          74.8934
9                 Hawthorn  -8.9251          68.5903          77.5154
16              West Coast -11.5505          60.3151          71.8656
5                Fremantle -12.0800          51.8333          63.9133
7               Gold Coast -19.2198          52.6932          71.9130
11         North Melbourne -19.7712          59.8290          79.6002

In [39]:
round_id = "2021F1"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 17.36
Overall MAE: 27.04

                      Team   Rating  Offensive_Value  Defensive_Value
10               Melbourne  20.3645          83.7015          63.3370
1           Brisbane Lions  17.1806          92.8847          75.7041
12           Port Adelaide  16.4972          84.0672          67.5699
17        Western Bulldogs  11.4696          78.7996          67.3300
6                  Geelong   9.2103          74.8314          65.6211
15                  Sydney   9.2062          74.7299          65.5237
4                 Essendon   4.6310          74.3096          69.6786
8   Greater Western Sydney   0.4492          74.2555          73.8063
14                St Kilda   0.3391          61.5406          61.2014
13                Richmond  -2.1427          57.4322          59.5749
2                  Carlton  -8.4421          57.7170          66.1590
3              Collingwood  -8.4818          59.3811          67.8629
0                 Adelaide  -8.7194          66.1740          74.8934
9                 Hawthorn  -8.9251          68.5903          77.5154
16              West Coast -11.5505          60.3151          71.8656
5                Fremantle -12.0800          51.8333          63.9133
7               Gold Coast -19.2198          52.6932          71.9130
11         North Melbourne -19.7712          59.8290          79.6002

In [40]:
round_id = "2021F2"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 20.50
Overall MAE: 26.77

                      Team   Rating  Offensive_Value  Defensive_Value
10               Melbourne  20.3645          83.7015          63.3370
12           Port Adelaide  16.4972          84.0672          67.5699
1           Brisbane Lions  16.3196          92.2476          75.9280
6                  Geelong  11.3216          80.0266          68.7051
17        Western Bulldogs   9.4656          79.3993          69.9337
15                  Sydney   9.2062          74.7299          65.5237
4                 Essendon   4.6310          74.3096          69.6786
14                St Kilda   0.3391          61.5406          61.2014
13                Richmond  -2.1427          57.4322          59.5749
8   Greater Western Sydney  -2.6280          64.7368          67.3648
2                  Carlton  -8.4421          57.7170          66.1590
3              Collingwood  -8.4818          59.3811          67.8629
0                 Adelaide  -8.7194          66.1740          74.8934
9                 Hawthorn  -8.9251          68.5903          77.5154
16              West Coast -11.5505          60.3151          71.8656
5                Fremantle -12.0800          51.8333          63.9133
7               Gold Coast -19.2198          52.6932          71.9130
11         North Melbourne -19.7712          59.8290          79.6002

In [41]:
round_id = "2021F3"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 70.09
Overall MAE: 28.44

                      Team   Rating  Offensive_Value  Defensive_Value
10               Melbourne  24.9006          90.7675          65.8669
1           Brisbane Lions  16.3196          92.2476          75.9280
17        Western Bulldogs  12.2823          78.5426          66.2603
12           Port Adelaide  11.0842          81.4994          70.4151
15                  Sydney   9.2062          74.7299          65.5237
4                 Essendon   4.6310          74.3096          69.6786
6                  Geelong   3.6168          77.5791          73.9623
14                St Kilda   0.3391          61.5406          61.2014
13                Richmond  -2.1427          57.4322          59.5749
8   Greater Western Sydney  -2.6280          64.7368          67.3648
2                  Carlton  -8.4421          57.7170          66.1590
3              Collingwood  -8.4818          59.3811          67.8629
0                 Adelaide  -8.7194          66.1740          74.8934
9                 Hawthorn  -8.9251          68.5903          77.5154
16              West Coast -11.5505          60.3151          71.8656
5                Fremantle -12.0800          51.8333          63.9133
7               Gold Coast -19.2198          52.6932          71.9130
11         North Melbourne -19.7712          59.8290          79.6002

In [42]:
round_id = "2021F4"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 37.85
Overall MAE: 28.79

                      Team   Rating  Offensive_Value  Defensive_Value
10               Melbourne  27.4316          91.6556          64.2241
1           Brisbane Lions  16.3196          92.2476          75.9280
12           Port Adelaide  11.0842          81.4994          70.4151
15                  Sydney   9.2062          74.7299          65.5237
17        Western Bulldogs   6.0331          80.0372          74.0042
4                 Essendon   4.6310          74.3096          69.6786
6                  Geelong   3.6168          77.5791          73.9623
14                St Kilda   0.3391          61.5406          61.2014
13                Richmond  -2.1427          57.4322          59.5749
8   Greater Western Sydney  -2.6280          64.7368          67.3648
2                  Carlton  -8.4421          57.7170          66.1590
3              Collingwood  -8.4818          59.3811          67.8629
0                 Adelaide  -8.7194          66.1740          74.8934
9                 Hawthorn  -8.9251          68.5903          77.5154
16              West Coast -11.5505          60.3151          71.8656
5                Fremantle -12.0800          51.8333          63.9133
7               Gold Coast -19.2198          52.6932          71.9130
11         North Melbourne -19.7712          59.8290          79.6002

In [43]:
round_id = "202201"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 23.13
Overall MAE: 28.59

                      Team   Rating  Offensive_Value  Defensive_Value
10               Melbourne  29.2090          86.1902          56.9812
1           Brisbane Lions  16.3537          87.1412          70.7876
15                  Sydney   8.4839          72.7691          64.2851
12           Port Adelaide   8.3098          75.1902          66.8804
6                  Geelong   7.2606          74.7294          67.4688
17        Western Bulldogs   0.9092          77.5532          76.6440
4                 Essendon   0.1624          69.6692          69.5068
14                St Kilda   0.1266          58.9509          58.8242
8   Greater Western Sydney  -2.5636          71.2371          73.8008
13                Richmond  -4.2293          70.4099          74.6392
2                  Carlton  -5.2970          72.7835          78.0806
9                 Hawthorn  -6.2920          53.8733          60.1654
3              Collingwood  -7.4550          59.5605          67.0155
0                 Adelaide  -7.9372          56.8767          64.8139
5                Fremantle -10.7823          58.8868          69.6691
7               Gold Coast -11.2132          59.6226          70.8358
16              West Coast -16.4801          44.8383          61.3184
11         North Melbourne -19.5347          62.2177          81.7524

In [44]:
round_id = "202202"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 28.50
Overall MAE: 28.58

                      Team   Rating  Offensive_Value  Defensive_Value
10               Melbourne  25.7579          83.8417          58.0838
1           Brisbane Lions  14.3885          84.8738          70.4853
15                  Sydney   7.2823          73.7886          66.5063
6                  Geelong   6.8878          78.3701          71.4823
12           Port Adelaide   6.1526          65.9698          59.8172
17        Western Bulldogs   2.2193          76.3165          74.0973
14                St Kilda   1.8445          57.6144          55.7698
4                 Essendon   0.4760          79.5252          79.0493
13                Richmond  -1.6916          61.1154          62.8070
3              Collingwood  -3.5810          67.2723          70.8533
9                 Hawthorn  -4.3366          60.5301          64.8667
8   Greater Western Sydney  -4.4220          72.1673          76.5893
2                  Carlton  -6.1683          76.7040          82.8723
7               Gold Coast  -9.5617          59.8651          69.4267
0                 Adelaide -10.2720          53.4995          63.7716
5                Fremantle -11.4346          53.5881          65.0227
16              West Coast -16.0572          35.9126          51.9698
11         North Melbourne -16.3561          61.2740          77.6301

In [45]:
round_id = "202203"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 25.83
Overall MAE: 28.49

                      Team   Rating  Offensive_Value  Defensive_Value
10               Melbourne  26.9377          84.0207          57.0830
1           Brisbane Lions  21.6719          92.1730          70.5011
12           Port Adelaide   6.5460          67.0935          60.5475
17        Western Bulldogs   5.6985          79.7402          74.0418
14                St Kilda   5.5727          64.8171          59.2445
6                  Geelong   5.0464          79.0185          73.9721
15                  Sydney   2.8529          71.6026          68.7497
8   Greater Western Sydney  -2.0495          69.8821          71.9316
3              Collingwood  -2.0703          72.6864          74.7567
4                 Essendon  -3.3273          75.1998          78.5271
9                 Hawthorn  -4.4494          61.1501          65.5995
2                  Carlton  -5.0050          76.6136          81.6187
13                Richmond  -5.4350          65.1638          70.5988
5                Fremantle  -6.3781          53.1578          59.5359
0                 Adelaide -10.2535          57.7656          68.0191
7               Gold Coast -10.5358          64.1648          74.7006
16              West Coast -18.3645          50.7633          69.1279
11         North Melbourne -23.4428          59.2295          82.6723

In [46]:
round_id = "202204"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 25.85
Overall MAE: 28.41

                      Team   Rating  Offensive_Value  Defensive_Value
10               Melbourne  27.0658          87.1463          60.0805
1           Brisbane Lions  17.0824          86.8900          69.8075
14                St Kilda   8.4169          68.0928          59.6760
6                  Geelong   6.9640          73.1390          66.1750
17        Western Bulldogs   4.3875          75.3477          70.9602
12           Port Adelaide   3.0696          67.6419          64.5723
15                  Sydney   2.6314          75.1524          72.5210
3              Collingwood   1.5471          65.5337          63.9865
5                Fremantle  -2.1920          63.5851          65.7772
4                 Essendon  -3.9149          68.3396          72.2545
13                Richmond  -4.1504          71.4493          75.5997
8   Greater Western Sydney  -5.3928          66.2115          71.6043
2                  Carlton  -6.6231          80.1551          86.7782
7               Gold Coast  -7.3637          69.0119          76.3756
9                 Hawthorn  -7.4059          58.8823          66.2882
0                 Adelaide  -8.3078          67.8970          76.2048
16              West Coast -19.9385          46.9831          66.9216
11         North Melbourne -21.1623          61.0222          82.1845

In [47]:
round_id = "202205"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 29.29
Overall MAE: 28.43

                      Team   Rating  Offensive_Value  Defensive_Value
10               Melbourne  28.0833          90.6202          62.5369
1           Brisbane Lions  16.7858          91.0839          74.2980
17        Western Bulldogs   9.6211          84.3614          74.7404
14                St Kilda   8.9318          65.8269          56.8952
15                  Sydney   7.6360          72.0449          64.4089
6                  Geelong   6.8668          85.1203          78.2535
12           Port Adelaide   1.7722          67.9088          66.1366
5                Fremantle   1.1204          66.6714          65.5510
3              Collingwood  -0.0192          67.9557          67.9749
13                Richmond  -2.4559          76.8133          79.2691
2                  Carlton  -4.9703          76.2778          81.2481
4                 Essendon  -6.6166          69.8831          76.4998
9                 Hawthorn  -7.2645          63.6780          70.9425
7               Gold Coast  -7.9839          67.8107          75.7946
8   Greater Western Sydney  -8.5776          66.8610          75.4386
0                 Adelaide  -8.7566          68.9030          77.6596
16              West Coast -23.2123          53.1123          76.3246
11         North Melbourne -24.7183          61.2517          85.9700

In [48]:
round_id = "202206"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 30.31
Overall MAE: 28.49

                      Team   Rating  Offensive_Value  Defensive_Value
10               Melbourne  30.7999          88.4653          57.6654
1           Brisbane Lions  16.2164          88.6477          72.4313
6                  Geelong  11.6462          80.8527          69.2064
15                  Sydney  11.1514          79.0706          67.9192
14                St Kilda   9.3445          68.9579          59.6134
12           Port Adelaide   6.5031          77.4962          70.9930
17        Western Bulldogs   5.3962          74.7969          69.4007
5                Fremantle   3.8875          70.9433          67.0558
3              Collingwood  -1.2341          73.4559          74.6900
0                 Adelaide  -4.6181          66.7245          71.3426
4                 Essendon  -4.7382          74.4139          79.1521
2                  Carlton  -7.3524          75.5005          82.8529
13                Richmond  -7.7352          69.6329          77.3681
7               Gold Coast  -8.2947          70.5679          78.8626
8   Greater Western Sydney  -9.0258          69.2587          78.2844
9                 Hawthorn -10.8171          60.7984          71.6155
16              West Coast -25.7992          51.8586          77.6578
11         North Melbourne -27.7127          64.1535          91.8662

In [49]:
round_id = "202207"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 33.17
Overall MAE: 28.63

                      Team   Rating  Offensive_Value  Defensive_Value
10               Melbourne  28.3705          87.5124          59.1419
1           Brisbane Lions  15.5947          90.4765          74.8817
6                  Geelong   9.3987          80.3984          70.9997
14                St Kilda   9.2296          70.9581          61.7285
15                  Sydney   9.0363          84.4566          75.4203
17        Western Bulldogs   7.1399          76.6470          69.5071
12           Port Adelaide   5.0333          77.8560          72.8227
5                Fremantle   4.5817          67.5849          63.0032
13                Richmond   3.3685          70.7464          67.3779
3              Collingwood   1.9441          73.7479          71.8038
2                  Carlton  -0.4683          78.3463          78.8147
8   Greater Western Sydney  -5.0483          70.2900          75.3383
4                 Essendon  -6.5477          71.8616          78.4093
0                 Adelaide  -7.2312          66.1756          73.4068
9                 Hawthorn -10.3859          66.0456          76.4316
7               Gold Coast -10.5200          68.0843          78.6043
11         North Melbourne -31.0902          58.5263          89.6165
16              West Coast -33.5495          46.0889          79.6384

In [50]:
round_id = "202208"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 28.46
Overall MAE: 28.62

                      Team   Rating  Offensive_Value  Defensive_Value
10               Melbourne  27.9109          93.0358          65.1249
1           Brisbane Lions  18.8291          84.0963          65.2672
6                  Geelong  12.0505          70.2999          58.2494
5                Fremantle  10.2996          62.2369          51.9372
12           Port Adelaide   7.1518          80.4579          73.3061
15                  Sydney   6.3173          78.5861          72.2688
14                St Kilda   5.9292          75.4838          69.5546
13                Richmond   4.0097          78.0888          74.0791
2                  Carlton   3.9648          81.3386          77.3738
17        Western Bulldogs   3.8041          72.9201          69.1160
3              Collingwood   0.7717          77.6685          76.8969
4                 Essendon  -3.9157          67.0612          70.9769
7               Gold Coast  -7.6527          64.2779          71.9306
8   Greater Western Sydney  -8.1352          68.9811          77.1162
0                 Adelaide -10.8944          64.6520          75.5464
9                 Hawthorn -11.3245          60.2795          71.6041
11         North Melbourne -34.1573          57.0871          91.2444
16              West Coast -34.9884          46.4517          81.4401

In [51]:
round_id = "202209"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 31.20
Overall MAE: 28.69

                      Team   Rating  Offensive_Value  Defensive_Value
10               Melbourne  30.7228          94.3609          63.6382
1           Brisbane Lions  17.6942          80.9703          63.2761
12           Port Adelaide  11.9633          80.1377          68.1744
15                  Sydney  10.2956          82.6464          72.3508
5                Fremantle   9.1583          67.7215          58.5632
14                St Kilda   8.1351          80.6837          72.5485
6                  Geelong   8.0466          81.0631          73.0165
17        Western Bulldogs   7.7697          78.4558          70.6861
2                  Carlton   7.3040          80.7667          73.4627
13                Richmond   7.0886          85.5039          78.4153
3              Collingwood  -3.6516          69.8700          73.5216
7               Gold Coast  -6.7760          64.2047          70.9808
4                 Essendon  -8.1342          73.0175          81.1517
0                 Adelaide -10.5530          61.3424          71.8954
8   Greater Western Sydney -11.0573          64.4899          75.5473
9                 Hawthorn -13.6719          65.2771          78.9490
11         North Melbourne -36.2682          51.6802          87.9484
16              West Coast -37.0925          41.7293          78.8218

In [52]:
round_id = "202210"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 17.84
Overall MAE: 28.40

                      Team   Rating  Offensive_Value  Defensive_Value
10               Melbourne  31.8756          92.4521          60.5765
1           Brisbane Lions  15.3243          82.4413          67.1170
13                Richmond  11.5472          82.0602          70.5130
6                  Geelong  10.2378          80.8664          70.6286
17        Western Bulldogs  10.2246          81.7582          71.5336
2                  Carlton   8.6090          81.7743          73.1654
12           Port Adelaide   7.7711          78.9138          71.1428
15                  Sydney   7.2307          80.9996          73.7689
5                Fremantle   5.2546          74.4337          69.1791
14                St Kilda   4.9092          70.4585          65.5493
3              Collingwood  -0.2986          81.9729          82.2715
8   Greater Western Sydney  -5.6193          74.2625          79.8819
0                 Adelaide  -7.0853          67.4203          74.5056
7               Gold Coast  -9.3303          68.6173          77.9476
9                 Hawthorn -11.7042          74.7750          86.4792
4                 Essendon -12.4882          64.4671          76.9553
11         North Melbourne -36.8665          56.1174          92.9839
16              West Coast -37.7155          43.2090          80.9246

In [53]:
round_id = "202211"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 32.19
Overall MAE: 28.50

                      Team   Rating  Offensive_Value  Defensive_Value
10               Melbourne  26.4447          89.8490          63.4044
1           Brisbane Lions  17.4473          84.5997          67.1523
17        Western Bulldogs  17.3400          89.3930          72.0530
6                  Geelong  11.1073          72.2615          61.1542
13                Richmond   9.1460          72.6305          63.4845
15                  Sydney   7.7541          77.9389          70.1848
12           Port Adelaide   7.5917          83.9942          76.4026
14                St Kilda   7.5148          68.2081          60.6933
5                Fremantle   6.9725          76.5940          69.6214
2                  Carlton   4.7366          81.2655          76.5288
3              Collingwood   2.7427          84.4530          81.7103
7               Gold Coast  -2.3280          71.5243          73.8523
0                 Adelaide  -8.2701          63.0960          71.3660
8   Greater Western Sydney  -8.7129          75.0290          83.7419
4                 Essendon -11.8371          70.1078          81.9450
9                 Hawthorn -16.6031          68.0105          84.6135
11         North Melbourne -36.2763          54.5463          90.8226
16              West Coast -42.0818          47.9942          90.0761

In [54]:
round_id = "202212"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 30.55
Overall MAE: 28.55

                      Team   Rating  Offensive_Value  Defensive_Value
10               Melbourne  22.4932          85.4694          62.9762
1           Brisbane Lions  14.9444          86.8065          71.8621
17        Western Bulldogs  14.5743          92.7318          78.1575
6                  Geelong  11.0283          79.7175          68.6892
13                Richmond   9.1460          72.6305          63.4845
15                  Sydney   8.2858          79.4463          71.1606
12           Port Adelaide   7.5917          83.9942          76.4026
14                St Kilda   7.5148          68.2081          60.6933
5                Fremantle   7.0335          75.0919          68.0584
7               Gold Coast   6.0651          79.0410          72.9759
2                  Carlton   4.7366          81.2655          76.5288
3              Collingwood   3.9155          82.3547          78.4392
0                 Adelaide  -3.3943          65.4186          68.8130
8   Greater Western Sydney  -8.7129          75.0290          83.7419
4                 Essendon -11.8371          70.1078          81.9450
9                 Hawthorn -16.3898          71.8793          88.2691
11         North Melbourne -40.8090          54.3301          95.1391
16              West Coast -41.9224          47.3642          89.2866

In [55]:
round_id = "202213"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 8.91
Overall MAE: 28.06

                      Team   Rating  Offensive_Value  Defensive_Value
10               Melbourne  16.8726          82.4622          65.5895
1           Brisbane Lions  15.8799          91.3669          75.4870
17        Western Bulldogs  14.5743          92.7318          78.1575
13                Richmond  11.9887          82.8603          70.8716
6                  Geelong  11.0283          79.7175          68.6892
15                  Sydney   8.2858          79.4463          71.1606
5                Fremantle   7.4015          84.5941          77.1926
3              Collingwood   6.8952          86.0831          79.1880
7               Gold Coast   6.0651          79.0410          72.9759
2                  Carlton   5.3802          84.0821          78.7020
14                St Kilda   4.3334          73.3710          69.0377
12           Port Adelaide   3.0752          83.9932          80.9180
0                 Adelaide  -3.3943          65.4186          68.8130
8   Greater Western Sydney  -4.9774          77.0654          82.0428
4                 Essendon -11.7706          75.7159          87.4865
9                 Hawthorn -15.8222          68.4555          84.2777
11         North Melbourne -39.5923          52.3880          91.9803
16              West Coast -41.9224          47.3642          89.2866

In [56]:
round_id = "202214"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 19.86
Overall MAE: 27.86

                      Team   Rating  Offensive_Value  Defensive_Value
10               Melbourne  16.8726          82.4622          65.5895
17        Western Bulldogs  16.6016          93.3689          76.7673
1           Brisbane Lions  15.8799          91.3669          75.4870
6                  Geelong  12.5855          80.4537          67.8682
13                Richmond  11.4206          86.3915          74.9709
7               Gold Coast   8.0925          84.4777          76.3852
5                Fremantle   7.4015          84.5941          77.1926
3              Collingwood   6.8952          86.0831          79.1880
15                  Sydney   5.9301          83.3488          77.4187
12           Port Adelaide   4.2948          75.7332          71.4384
2                  Carlton   4.2114          81.1025          76.8912
14                St Kilda  -0.3262          70.7642          71.0904
0                 Adelaide  -5.6888          65.5148          71.2035
4                 Essendon  -6.3673          74.0169          80.3842
8   Greater Western Sydney  -7.9644          71.2368          79.2012
9                 Hawthorn -15.8222          68.4555          84.2777
11         North Melbourne -39.5923          52.3880          91.9803
16              West Coast -40.3902          49.4322          89.8224

In [57]:
round_id = "202215"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 23.01
Overall MAE: 27.75

                      Team   Rating  Offensive_Value  Defensive_Value
10               Melbourne  20.2352          88.0388          67.8036
17        Western Bulldogs  18.2572          88.9101          70.6529
6                  Geelong  11.5835          87.5600          75.9764
13                Richmond  10.0219          84.3514          74.3294
3              Collingwood   9.6561          81.5592          71.9031
1           Brisbane Lions   9.2420          78.7905          69.5485
15                  Sydney   9.1120          77.3283          68.2163
7               Gold Coast   7.5851          85.3320          77.7469
5                Fremantle   5.3840          81.8189          76.4349
2                  Carlton   5.0677          81.3279          76.2603
12           Port Adelaide   3.5634          78.6569          75.0935
0                 Adelaide  -2.9941          66.8416          69.8357
14                St Kilda  -4.0685          67.6389          71.7074
4                 Essendon  -5.4092          73.4626          78.8717
8   Greater Western Sydney -10.6184          76.2236          86.8420
9                 Hawthorn -17.5557          67.8175          85.3733
16              West Coast -36.6726          57.3206          93.9932
11         North Melbourne -37.7588          61.6906          99.4494

In [58]:
round_id = "202216"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 24.76
Overall MAE: 27.68

                      Team   Rating  Offensive_Value  Defensive_Value
10               Melbourne  22.2417          83.0583          60.8166
6                  Geelong  20.0744          85.7290          65.6546
17        Western Bulldogs  14.5826          81.2531          66.6705
1           Brisbane Lions  10.1667          89.3286          79.1618
15                  Sydney   9.8867          83.2994          73.4127
3              Collingwood   9.8355          85.0614          75.2260
13                Richmond   9.5891          83.4761          73.8870
2                  Carlton   6.3824          84.9737          78.5913
5                Fremantle   6.2459          85.0293          78.7834
7               Gold Coast   5.6816          77.2839          71.6022
12           Port Adelaide   1.8067          82.6379          80.8312
14                St Kilda  -5.4831          78.1461          83.6293
4                 Essendon  -6.5542          78.6190          85.1732
0                 Adelaide  -6.7247          65.3917          72.1164
8   Greater Western Sydney  -8.1296          79.0027          87.1323
9                 Hawthorn -17.2272          70.3774          87.6045
16              West Coast -33.5747          62.2989          95.8736
11         North Melbourne -43.6322          56.0292          99.6613

In [59]:
round_id = "202217"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 26.63
Overall MAE: 27.65

                      Team   Rating  Offensive_Value  Defensive_Value
6                  Geelong  22.7676          91.0897          68.3221
10               Melbourne  15.3169          89.0539          73.7370
2                  Carlton  11.5947          89.3811          77.7864
15                  Sydney  11.3222          82.6471          71.3250
13                Richmond  11.1659          82.5546          71.3886
17        Western Bulldogs  10.7002          88.2056          77.5054
3              Collingwood  10.2684          79.2194          68.9510
5                Fremantle   8.0518          88.4826          80.4307
1           Brisbane Lions   7.5492          68.9340          61.3848
12           Port Adelaide   3.9693          81.1963          77.2271
7               Gold Coast   2.5777          77.8162          75.2384
4                 Essendon  -4.2979          72.1781          76.4760
14                St Kilda  -7.3654          77.0795          84.4448
0                 Adelaide  -8.3484          66.1141          74.4624
8   Greater Western Sydney  -9.6598          76.0581          85.7179
9                 Hawthorn -13.2083          64.1813          77.3896
16              West Coast -36.0677          55.5726          91.6403
11         North Melbourne -40.6854          52.8541          93.5395

In [60]:
round_id = "202218"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 26.87
Overall MAE: 27.64

                      Team   Rating  Offensive_Value  Defensive_Value
6                  Geelong  23.6163          90.6415          67.0252
10               Melbourne  13.8255          82.3705          68.5450
13                Richmond  12.5291          80.4151          67.8860
15                  Sydney  11.7922          83.6594          71.8671
1           Brisbane Lions  10.5303          72.7362          62.2060
17        Western Bulldogs   9.5400          84.5279          74.9879
3              Collingwood   8.8612          76.0755          67.2143
2                  Carlton   7.3097          84.3648          77.0551
5                Fremantle   5.6444          87.7440          82.0996
12           Port Adelaide   3.5320          83.2588          79.7268
4                 Essendon   3.0187          82.2208          79.2021
7               Gold Coast  -4.5668          79.7916          84.3584
14                St Kilda  -6.5386          72.3617          78.9003
0                 Adelaide  -7.1331          72.8271          79.9602
9                 Hawthorn -10.3156          65.4563          75.7720
8   Greater Western Sydney -12.4298          75.8792          88.3090
16              West Coast -34.0328          54.4954          88.5283
11         North Melbourne -39.0967          55.7461          94.8428

In [61]:
round_id = "202219"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 13.50
Overall MAE: 27.33

                      Team   Rating  Offensive_Value  Defensive_Value
6                  Geelong  21.1247          85.7176          64.5930
15                  Sydney  14.1459          86.7737          72.6277
10               Melbourne  12.8306          84.2226          71.3920
13                Richmond  11.8378          80.8455          69.0077
2                  Carlton  10.3341          88.1761          77.8419
1           Brisbane Lions   9.8358          85.9306          76.0949
17        Western Bulldogs   8.1984          91.3124          83.1141
3              Collingwood   6.9675          76.5835          69.6160
5                Fremantle   4.5184          84.7158          80.1974
4                 Essendon   3.7243          81.3178          77.5935
12           Port Adelaide   3.3088          83.6569          80.3481
14                St Kilda  -4.1946          71.5985          75.7931
7               Gold Coast  -4.4687          77.8939          82.3625
9                 Hawthorn  -8.8397          65.2434          74.0831
0                 Adelaide  -9.9528          70.6901          80.6429
8   Greater Western Sydney -14.9422          64.1887          79.1310
16              West Coast -32.3197          58.2122          90.5319
11         North Melbourne -35.6314          56.4973          92.1287

In [62]:
round_id = "202220"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 22.84
Overall MAE: 27.23

                      Team   Rating  Offensive_Value  Defensive_Value
6                  Geelong  21.2729          89.0632          67.7902
15                  Sydney  19.2669          89.8774          70.6105
10               Melbourne  15.0688          89.3005          74.2317
13                Richmond  10.4219          89.2592          78.8373
1           Brisbane Lions   9.0843          84.9584          75.8741
2                  Carlton   7.1123          87.8163          80.7040
3              Collingwood   6.7888          78.5863          71.7975
17        Western Bulldogs   5.1178          88.7070          83.5892
4                 Essendon   4.6084          73.7907          69.1823
12           Port Adelaide   2.4599          77.9184          75.4585
5                Fremantle   0.5453          82.0567          81.5114
14                St Kilda  -0.7296          67.1609          67.8905
7               Gold Coast  -3.6715          73.7813          77.4527
0                 Adelaide  -6.7690          67.5783          74.3473
9                 Hawthorn -11.0013          62.4133          73.4147
8   Greater Western Sydney -19.9836          65.5437          85.5272
16              West Coast -29.4381          61.4634          90.9014
11         North Melbourne -33.3247          61.7578          95.0825

In [63]:
round_id = "202221"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 21.25
Overall MAE: 27.11

                      Team   Rating  Offensive_Value  Defensive_Value
6                  Geelong  23.8531          87.8954          64.0423
15                  Sydney  20.1846          91.1518          70.9672
10               Melbourne  15.0852          95.3188          80.2336
13                Richmond  13.4485          83.0322          69.5837
1           Brisbane Lions  10.2412          91.6090          81.3678
17        Western Bulldogs   5.1707          88.1483          82.9776
3              Collingwood   4.5866          78.3698          73.7832
2                  Carlton   4.3358          81.9627          77.6269
4                 Essendon   1.1029          81.5180          80.4151
5                Fremantle  -0.0739          78.2348          78.3087
12           Port Adelaide  -1.8549          74.7268          76.5817
7               Gold Coast  -4.4982          73.4991          77.9972
14                St Kilda  -5.3641          69.8106          75.1747
0                 Adelaide  -6.2121          66.5300          72.7421
9                 Hawthorn  -8.7073          58.2742          66.9815
8   Greater Western Sydney -14.9406          73.0724          88.0130
16              West Coast -26.3743          65.2027          91.5770
11         North Melbourne -32.8367          62.6101          95.4468

In [64]:
round_id = "202222"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 30.24
Overall MAE: 27.17

                      Team   Rating  Offensive_Value  Defensive_Value
6                  Geelong  27.1663          92.9868          65.8205
15                  Sydney  21.3154          93.2538          71.9385
13                Richmond  15.4109          84.8617          69.4508
10               Melbourne  13.4195          93.7160          80.2965
1           Brisbane Lions  10.9844          92.3748          81.3904
17        Western Bulldogs   5.5143          87.2773          81.7629
2                  Carlton   4.0594          77.2307          73.1712
5                Fremantle   3.9486          80.4244          76.4758
12           Port Adelaide   3.5505          80.2211          76.6706
3              Collingwood   0.9787          71.4275          70.4488
4                 Essendon  -4.2273          86.1113          90.3386
0                 Adelaide  -4.4872          72.8088          77.2960
14                St Kilda  -6.5950          67.1112          73.7062
7               Gold Coast  -9.7469          71.1479          80.8948
9                 Hawthorn -11.1438          61.4272          72.5710
8   Greater Western Sydney -14.3072          70.8411          85.1483
16              West Coast -27.7520          56.5946          84.3466
11         North Melbourne -30.6567          72.4420         103.0986

In [65]:
round_id = "202223"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 36.75
Overall MAE: 27.36

                      Team   Rating  Offensive_Value  Defensive_Value
6                  Geelong  32.4269          89.7051          57.2782
15                  Sydney  20.9996          91.7960          70.7964
13                Richmond  18.3674          89.3269          70.9594
10               Melbourne  14.2652          93.0955          78.8303
17        Western Bulldogs   9.4869          87.5607          78.0738
12           Port Adelaide   8.8342          85.1304          76.2962
1           Brisbane Lions   7.6983          88.6803          80.9820
5                Fremantle   6.6323          84.3070          77.6747
2                  Carlton   5.3506          81.2376          75.8870
3              Collingwood  -0.8163          79.8179          80.6342
7               Gold Coast  -3.4722          69.0665          72.5386
14                St Kilda  -7.7512          64.1632          71.9144
4                 Essendon  -8.3023          80.3405          88.6427
0                 Adelaide  -9.6772          64.4745          74.1517
9                 Hawthorn -14.5535          54.7894          69.3429
8   Greater Western Sydney -15.9550          71.5201          87.4752
11         North Melbourne -32.8910          61.1522          94.0432
16              West Coast -32.9540          50.9398          83.8939

In [66]:
round_id = "2022F1"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 24.02
Overall MAE: 27.30

                      Team   Rating  Offensive_Value  Defensive_Value
6                  Geelong  30.3482          94.2535          63.9053
15                  Sydney  19.3665          92.0551          72.6886
13                Richmond  15.6599          92.8923          77.2324
10               Melbourne  12.3718          92.9039          80.5321
12           Port Adelaide   8.8342          85.1304          76.2962
17        Western Bulldogs   8.6433          81.5403          72.8970
1           Brisbane Lions   7.7992          87.3789          79.5798
5                Fremantle   5.8640          83.2197          77.3557
2                  Carlton   5.3506          81.2376          75.8870
3              Collingwood  -1.8986          81.0432          82.9418
7               Gold Coast  -3.4722          69.0665          72.5386
14                St Kilda  -7.7512          64.1632          71.9144
4                 Essendon  -8.3023          80.3405          88.6427
0                 Adelaide  -9.6772          64.4745          74.1517
9                 Hawthorn -14.5535          54.7894          69.3429
8   Greater Western Sydney -15.9550          71.5201          87.4752
11         North Melbourne -32.8910          61.1522          94.0432
16              West Coast -32.9540          50.9398          83.8939

In [67]:
round_id = "2022F2"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 22.65
Overall MAE: 27.21

                      Team   Rating  Offensive_Value  Defensive_Value
6                  Geelong  30.3482          94.2535          63.9053
15                  Sydney  19.3665          92.0551          72.6886
13                Richmond  15.6599          92.8923          77.2324
10               Melbourne  12.8077          91.8819          79.0742
12           Port Adelaide   8.8342          85.1304          76.2962
17        Western Bulldogs   8.6433          81.5403          72.8970
2                  Carlton   5.3506          81.2376          75.8870
1           Brisbane Lions   5.3462          70.5143          65.1681
5                Fremantle   3.0538          80.7550          77.7012
3              Collingwood   0.5150          77.9969          77.4819
7               Gold Coast  -3.4722          69.0665          72.5386
14                St Kilda  -7.7512          64.1632          71.9144
4                 Essendon  -8.3023          80.3405          88.6427
0                 Adelaide  -9.6772          64.4745          74.1517
9                 Hawthorn -14.5535          54.7894          69.3429
8   Greater Western Sydney -15.9550          71.5201          87.4752
11         North Melbourne -32.8910          61.1522          94.0432
16              West Coast -32.9540          50.9398          83.8939

In [68]:
round_id = "2022F3"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 29.13
Overall MAE: 27.25

                      Team   Rating  Offensive_Value  Defensive_Value
6                  Geelong  30.4400          95.7400          65.3001
15                  Sydney  18.7018          94.0454          75.3437
13                Richmond  15.6599          92.8923          77.2324
10               Melbourne  12.8077          91.8819          79.0742
12           Port Adelaide   8.8342          85.1304          76.2962
17        Western Bulldogs   8.6433          81.5403          72.8970
2                  Carlton   5.3506          81.2376          75.8870
5                Fremantle   3.0538          80.7550          77.7012
1           Brisbane Lions   1.6850          78.0885          76.4035
3              Collingwood  -0.8084          79.7299          80.5384
7               Gold Coast  -3.4722          69.0665          72.5386
14                St Kilda  -7.7512          64.1632          71.9144
4                 Essendon  -8.3023          80.3405          88.6427
0                 Adelaide  -9.6772          64.4745          74.1517
9                 Hawthorn -14.5535          54.7894          69.3429
8   Greater Western Sydney -15.9550          71.5201          87.4752
11         North Melbourne -32.8910          61.1522          94.0432
16              West Coast -32.9540          50.9398          83.8939

In [69]:
round_id = "2022F4"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 38.16
Overall MAE: 27.45

                      Team   Rating  Offensive_Value  Defensive_Value
6                  Geelong  33.1629          95.0267          61.8638
13                Richmond  15.6599          92.8923          77.2324
10               Melbourne  12.8077          91.8819          79.0742
15                  Sydney  11.0647          88.1984          77.1337
12           Port Adelaide   8.8342          85.1304          76.2962
17        Western Bulldogs   8.6433          81.5403          72.8970
2                  Carlton   5.3506          81.2376          75.8870
5                Fremantle   3.0538          80.7550          77.7012
1           Brisbane Lions   1.6850          78.0885          76.4035
3              Collingwood  -0.8084          79.7299          80.5384
7               Gold Coast  -3.4722          69.0665          72.5386
14                St Kilda  -7.7512          64.1632          71.9144
4                 Essendon  -8.3023          80.3405          88.6427
0                 Adelaide  -9.6772          64.4745          74.1517
9                 Hawthorn -14.5535          54.7894          69.3429
8   Greater Western Sydney -15.9550          71.5201          87.4752
11         North Melbourne -32.8910          61.1522          94.0432
16              West Coast -32.9540          50.9398          83.8939

In [70]:
round_id = "202301"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 32.99
Overall MAE: 27.55

                      Team   Rating  Offensive_Value  Defensive_Value
6                  Geelong  27.7699          89.0031          61.2332
12           Port Adelaide  15.8851          80.6740          64.7889
13                Richmond  15.6603          95.5567          79.8964
10               Melbourne  15.3897          80.6816          65.2919
15                  Sydney  14.3852          82.6965          68.3113
17        Western Bulldogs   3.9162          85.3083          81.3921
2                  Carlton   3.2492          88.0430          84.7938
5                Fremantle   2.6264          81.3933          78.7669
3              Collingwood   1.3491          90.7094          89.3604
4                 Essendon  -3.0846          81.7314          84.8160
1           Brisbane Lions  -6.4178          71.1645          77.5823
14                St Kilda  -6.8541          57.5338          64.3879
7               Gold Coast  -7.5519          72.8543          80.4062
0                 Adelaide  -9.3843          67.4726          76.8569
8   Greater Western Sydney -13.6847          75.9639          89.6486
9                 Hawthorn -17.4856          60.1257          77.6113
11         North Melbourne -28.6197          62.9906          91.6103
16              West Coast -30.6408          57.1830          87.8238

In [71]:
round_id = "202302"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 31.51
Overall MAE: 27.62

                      Team   Rating  Offensive_Value  Defensive_Value
6                  Geelong  23.2030          81.6993          58.4964
15                  Sydney  17.3977          82.1686          64.7709
13                Richmond  14.1959          89.5633          75.3674
10               Melbourne  12.0877          84.3726          72.2850
12           Port Adelaide  10.2969          79.2621          68.9652
3              Collingwood   5.2139          88.4677          83.2538
2                  Carlton   4.7142          85.0972          80.3831
5                Fremantle   3.4147          78.3121          74.8974
17        Western Bulldogs   0.8508          80.9475          80.0967
4                 Essendon  -1.7620          79.0565          80.8185
14                St Kilda  -3.4949          60.3253          63.8202
1           Brisbane Lions  -4.0130          69.6387          73.6516
7               Gold Coast  -7.8108          72.4908          80.3016
0                 Adelaide  -8.5476          69.6442          78.1918
8   Greater Western Sydney -12.7792          66.5130          79.2922
9                 Hawthorn -20.1881          54.1287          74.3168
11         North Melbourne -26.8087          67.0723          93.8810
16              West Coast -27.1138          62.4730          89.5867

In [72]:
round_id = "202303"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 19.93
Overall MAE: 27.48

                      Team   Rating  Offensive_Value  Defensive_Value
6                  Geelong  19.6487          85.3449          65.6962
15                  Sydney  14.1161          84.3695          70.2534
10               Melbourne  12.4208          82.7902          70.3694
13                Richmond  10.7247          74.6198          63.8951
12           Port Adelaide   7.3711          85.3534          77.9823
3              Collingwood   6.7441          85.3779          78.6337
2                  Carlton   5.8910          86.4355          80.5445
5                Fremantle   4.4209          75.1312          70.7103
17        Western Bulldogs   1.0580          83.3111          82.2531
14                St Kilda  -1.6744          58.5999          60.2743
4                 Essendon  -3.0569          87.5504          90.6073
1           Brisbane Lions  -3.9039          69.6550          73.5589
7               Gold Coast  -5.7957          76.2289          82.0247
0                 Adelaide  -5.7966          69.9789          75.7756
8   Greater Western Sydney -13.1495          75.5004          88.6500
9                 Hawthorn -15.3229          60.7363          76.0592
16              West Coast -25.7501          63.5566          89.3066
11         North Melbourne -26.9742          64.8682          91.8424

In [73]:
round_id = "202304"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 29.07
Overall MAE: 27.51

                      Team   Rating  Offensive_Value  Defensive_Value
6                  Geelong  23.6680          90.2875          66.6194
10               Melbourne  15.2348          85.6102          70.3754
15                  Sydney  13.6271          88.2126          74.5855
13                Richmond   8.3360          73.2742          64.9382
12           Port Adelaide   5.7114          76.4812          70.7699
2                  Carlton   5.6504          79.9998          74.3495
3              Collingwood   4.1670          82.7524          78.5854
17        Western Bulldogs   2.2684          83.3062          81.0378
5                Fremantle   2.0813          72.3077          70.2264
14                St Kilda   1.3750          60.8247          59.4497
4                 Essendon  -0.2102          89.2071          89.4173
1           Brisbane Lions  -1.6108          74.0099          75.6207
0                 Adelaide  -3.3195          68.9808          72.3003
7               Gold Coast  -8.0981          63.5492          71.6473
8   Greater Western Sydney -14.3756          76.2066          90.5822
9                 Hawthorn -19.7748          62.3588          82.1336
11         North Melbourne -24.6252          70.5437          95.1689
16              West Coast -27.2312          52.4271          79.6582

In [74]:
round_id = "202305"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 21.57
Overall MAE: 27.41

                      Team   Rating  Offensive_Value  Defensive_Value
6                  Geelong  24.9348          93.5550          68.6201
15                  Sydney  14.1797          81.2707          67.0909
10               Melbourne  10.8144          81.6975          70.8830
1           Brisbane Lions   7.2533          81.9870          74.7337
12           Port Adelaide   6.9918          77.9310          70.9392
13                Richmond   5.5870          72.4330          66.8460
3              Collingwood   4.1621          79.7384          75.5763
5                Fremantle   3.4274          78.9616          75.5342
4                 Essendon   2.7077          93.2007          90.4929
0                 Adelaide   1.3691          73.1912          71.8221
14                St Kilda   0.8257          63.4245          62.5988
2                  Carlton   0.7287          90.0678          89.3391
17        Western Bulldogs   0.1900          85.0444          84.8545
7               Gold Coast  -8.8425          73.7171          82.5597
8   Greater Western Sydney -10.8331          71.1113          81.9444
9                 Hawthorn -19.9023          53.8902          73.7925
16              West Coast -28.1417          54.5872          82.7289
11         North Melbourne -30.8657          74.0597         104.9254

In [75]:
round_id = "202306"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 28.24
Overall MAE: 27.42

                      Team   Rating  Offensive_Value  Defensive_Value
6                  Geelong  28.5738          92.0442          63.4704
12           Port Adelaide   9.7797          72.1132          62.3335
10               Melbourne   9.3372          83.8379          74.5007
1           Brisbane Lions   9.1132          86.1711          77.0579
15                  Sydney   6.6293          78.4929          71.8636
13                Richmond   5.4241          78.8161          73.3920
17        Western Bulldogs   5.1829          87.7643          82.5814
3              Collingwood   4.9859          79.0836          74.0977
4                 Essendon   1.1970          82.3415          81.1445
14                St Kilda   1.1673          71.5559          70.3885
0                 Adelaide   1.0685          70.6208          69.5522
2                  Carlton   0.2316          78.6930          78.4614
5                Fremantle  -1.9272          75.6134          77.5406
7               Gold Coast  -3.9330          81.7829          85.7158
8   Greater Western Sydney -12.3350          74.0924          86.4274
9                 Hawthorn -17.7484          55.3841          73.1326
16              West Coast -28.8145          54.4104          83.2249
11         North Melbourne -31.8044          66.6090          98.4134

In [76]:
round_id = "202307"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 31.32
Overall MAE: 27.49

                      Team   Rating  Offensive_Value  Defensive_Value
6                  Geelong  28.5222          90.2769          61.7547
10               Melbourne  13.3255          87.0125          73.6870
1           Brisbane Lions  12.0754          81.7964          69.7211
2                  Carlton   8.9127          91.0750          82.1623
12           Port Adelaide   8.8543          71.7713          62.9170
15                  Sydney   7.5162          80.2442          72.7280
17        Western Bulldogs   6.6021          84.6947          78.0926
13                Richmond   3.2613          73.9998          70.7385
3              Collingwood   2.9054          75.8053          72.8999
0                 Adelaide   2.5436          71.9491          69.4054
14                St Kilda   0.9979          71.0137          70.0158
4                 Essendon  -1.7285          88.0161          89.7445
7               Gold Coast  -1.9192          79.0917          81.0109
5                Fremantle  -5.6080          72.3033          77.9112
8   Greater Western Sydney -12.6513          68.0711          80.7224
9                 Hawthorn -17.9111          60.7358          78.6469
11         North Melbourne -33.5460          64.9131          98.4590
16              West Coast -34.6373          55.3544          89.9917

In [77]:
round_id = "202308"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 20.40
Overall MAE: 27.37

                      Team   Rating  Offensive_Value  Defensive_Value
6                  Geelong  27.7674          86.2195          58.4521
1           Brisbane Lions  12.4930          77.1778          64.6848
12           Port Adelaide  12.1450          78.4470          66.3020
10               Melbourne  11.9123          89.3251          77.4127
2                  Carlton   6.3962          85.4963          79.1001
13                Richmond   6.0670          85.4038          79.3367
15                  Sydney   6.0012          83.7553          77.7541
17        Western Bulldogs   5.9046          88.9882          83.0836
3              Collingwood   3.3781          83.6485          80.2704
14                St Kilda   2.3235          72.6848          70.3613
5                Fremantle   0.7134          81.5477          80.8343
0                 Adelaide   0.1918          70.0663          69.8745
7               Gold Coast  -1.6467          72.9781          74.6248
4                 Essendon  -5.7317          82.9436          88.6753
8   Greater Western Sydney -11.3489          69.3744          80.7232
9                 Hawthorn -21.8805          59.9134          81.7940
11         North Melbourne -31.6168          58.7211          90.3379
16              West Coast -34.3055          57.5208          91.8263

In [78]:
round_id = "202309"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 34.07
Overall MAE: 27.48

                      Team   Rating  Offensive_Value  Defensive_Value
6                  Geelong  25.3023          77.6322          52.3299
12           Port Adelaide  15.6511          73.0933          57.4422
1           Brisbane Lions  15.0612          79.4118          64.3506
10               Melbourne  14.8459          89.9684          75.1225
7               Gold Coast   6.4034          72.0618          65.6583
3              Collingwood   5.6872          81.0405          75.3533
17        Western Bulldogs   5.6823          84.3760          78.6937
2                  Carlton   5.3884          87.2090          81.8207
13                Richmond   5.1487          88.1414          82.9927
5                Fremantle   3.2092          80.6407          77.4315
0                 Adelaide   2.9867          67.4343          64.4476
15                  Sydney   2.8340          82.5809          79.7470
14                St Kilda  -0.7229          65.6099          66.3328
4                 Essendon  -8.9760          71.0904          80.0664
8   Greater Western Sydney -12.8609          66.8318          79.6927
9                 Hawthorn -23.8172          59.9462          83.7634
11         North Melbourne -33.1757          56.8354          90.0111
16              West Coast -38.7604          54.1981          92.9585

In [79]:
round_id = "202310"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 31.86
Overall MAE: 27.55

                      Team   Rating  Offensive_Value  Defensive_Value
6                  Geelong  21.4665          76.1515          54.6850
1           Brisbane Lions  17.5054          83.2637          65.7583
12           Port Adelaide  16.2891          76.4396          60.1505
10               Melbourne  11.1581          84.9679          73.8098
17        Western Bulldogs   9.7163          85.3029          75.5866
3              Collingwood   7.1635          86.2368          79.0733
13                Richmond   4.7823          85.0549          80.2726
5                Fremantle   4.1939          82.4544          78.2605
15                  Sydney   3.3294          76.0946          72.7652
2                  Carlton   2.8045          85.5999          82.7954
14                St Kilda   2.4778          72.2591          69.7814
7               Gold Coast   1.8128          74.7487          72.9360
0                 Adelaide  -1.9142          64.4421          66.3563
4                 Essendon  -8.2269          63.8586          72.0855
9                 Hawthorn -12.0357          57.6271          69.6627
8   Greater Western Sydney -14.7032          70.2678          84.9710
11         North Melbourne -30.6369          53.4345          84.0714
16              West Coast -44.2842          40.5675          84.8518

In [80]:
round_id = "202311"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 18.43
Overall MAE: 27.41

                      Team   Rating  Offensive_Value  Defensive_Value
6                  Geelong  18.0660          78.0066          59.9406
12           Port Adelaide  17.5068          75.0008          57.4941
1           Brisbane Lions  15.6376          82.7822          67.1445
10               Melbourne  11.6973          79.5557          67.8583
17        Western Bulldogs   9.6380          87.7862          78.1482
3              Collingwood   7.8752          86.0888          78.2135
15                  Sydney   2.8752          79.7072          76.8320
2                  Carlton   2.6453          81.2551          78.6098
5                Fremantle   2.1195          78.7995          76.6800
13                Richmond   1.4575          80.6473          79.1898
7               Gold Coast   0.7382          78.9403          78.2022
14                St Kilda   0.1170          73.5157          73.3988
0                 Adelaide  -1.6055          65.8727          67.4782
4                 Essendon  -3.7851          73.0857          76.8708
9                 Hawthorn  -8.7191          60.9069          69.6260
8   Greater Western Sydney -11.9790          62.9035          74.8825
11         North Melbourne -29.0013          58.4971          87.4985
16              West Coast -43.4749          51.4867          94.9615

In [81]:
round_id = "202312"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 16.90
Overall MAE: 27.25

                      Team   Rating  Offensive_Value  Defensive_Value
12           Port Adelaide  18.7896          82.3947          63.6051
1           Brisbane Lions  15.6376          82.7822          67.1445
6                  Geelong  15.3658          76.8247          61.4588
10               Melbourne  14.1324          77.9685          63.8361
3              Collingwood  12.2508          85.7707          73.5199
17        Western Bulldogs   9.5678          89.5747          80.0069
15                  Sydney   2.8752          79.7072          76.8320
13                Richmond   2.7374          78.8337          76.0963
5                Fremantle   2.1195          78.7995          76.6800
7               Gold Coast   2.0181          79.4038          77.3857
14                St Kilda   0.1170          73.5157          73.3988
2                  Carlton  -1.2240          78.3377          79.5617
4                 Essendon  -2.1614          78.7225          80.8840
0                 Adelaide  -2.7987          70.7054          73.5042
9                 Hawthorn -10.8806          65.3412          76.2218
8   Greater Western Sydney -12.2067          65.5011          77.7078
11         North Melbourne -27.3464          65.2397          92.5861
16              West Coast -44.2905          46.8249          91.1153

In [82]:
round_id = "202313"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 31.28
Overall MAE: 27.31

                      Team   Rating  Offensive_Value  Defensive_Value
12           Port Adelaide  19.3923          90.0445          70.6522
10               Melbourne  15.3751          80.1286          64.7536
6                  Geelong  15.3658          76.8247          61.4588
1           Brisbane Lions  13.3568          79.6867          66.3299
3              Collingwood   8.3698          77.1697          68.7998
17        Western Bulldogs   6.1293          85.7378          79.6085
0                 Adelaide   5.9164          72.4899          66.5735
13                Richmond   2.6456          83.8701          81.2245
14                St Kilda   2.3443          69.1229          66.7786
7               Gold Coast   2.0181          79.4038          77.3857
5                Fremantle   1.7255          74.5973          72.8718
15                  Sydney   0.3486          76.0763          75.7276
2                  Carlton  -0.8043          80.5471          81.3513
4                 Essendon  -2.2426          79.3151          81.5577
8   Greater Western Sydney  -6.8843          67.0759          73.9602
9                 Hawthorn  -9.0756          62.9506          72.0261
11         North Melbourne -28.7135          56.1315          84.8450
16              West Coast -48.2967          46.5747          94.8714

In [83]:
round_id = "202314"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 33.84
Overall MAE: 27.41

                      Team   Rating  Offensive_Value  Defensive_Value
12           Port Adelaide  21.3373          92.0575          70.7203
1           Brisbane Lions  15.9965          69.7027          53.7062
10               Melbourne  15.3751          80.1286          64.7536
6                  Geelong   9.9450          91.0071          81.0621
3              Collingwood   8.3698          77.1697          68.7998
17        Western Bulldogs   8.2931          91.6195          83.3264
0                 Adelaide   5.9164          72.4899          66.5735
2                  Carlton   4.0392          80.5940          76.5548
13                Richmond   3.6144          81.1110          77.4966
14                St Kilda   0.8765          67.1223          66.2458
8   Greater Western Sydney  -1.8834          73.4587          75.3421
4                 Essendon  -2.2426          79.3151          81.5577
5                Fremantle  -2.7595          69.1968          71.9563
7               Gold Coast  -2.9468          77.5261          80.4729
15                  Sydney  -3.6616          76.8823          80.5439
9                 Hawthorn  -9.0756          62.9506          72.0261
11         North Melbourne -28.6188          62.2544          90.8733
16              West Coast -48.2967          46.5747          94.8714

In [84]:
round_id = "202315"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 51.15
Overall MAE: 27.75

                      Team   Rating  Offensive_Value  Defensive_Value
12           Port Adelaide  21.3373          92.0575          70.7203
1           Brisbane Lions  15.8901          71.2626          55.3725
10               Melbourne  13.6100          80.2687          66.6588
15                  Sydney   9.6248          89.9421          80.3174
6                  Geelong   9.1782          85.3602          76.1820
17        Western Bulldogs   8.2931          91.6195          83.3264
3              Collingwood   7.9745          81.1762          73.2017
0                 Adelaide   4.8831          74.7896          69.9065
2                  Carlton   4.0392          80.5940          76.5548
13                Richmond   3.6144          81.1110          77.4966
7               Gold Coast   3.0132          80.9168          77.9036
5                Fremantle  -0.6901          73.6215          74.3116
14                St Kilda  -0.7044          60.3764          61.0807
8   Greater Western Sydney  -1.8834          73.4587          75.3421
4                 Essendon  -3.8118          77.1911          81.0029
9                 Hawthorn -13.8333          64.5715          78.4048
11         North Melbourne -28.6188          62.2544          90.8733
16              West Coast -56.3872          49.0552         105.4424

In [85]:
round_id = "202316"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 39.03
Overall MAE: 27.91

                      Team   Rating  Offensive_Value  Defensive_Value
1           Brisbane Lions  20.5870          77.0615          56.4745
12           Port Adelaide  18.2042          91.3645          73.1603
10               Melbourne  15.6033          83.7179          68.1146
3              Collingwood  13.3740          87.0718          73.6978
15                  Sydney  12.2256          84.3856          72.1601
0                 Adelaide  10.1658          74.7124          64.5465
2                  Carlton   8.1763          86.0411          77.8648
17        Western Bulldogs   7.4949          86.7006          79.2057
6                  Geelong   4.6971          87.8733          83.1762
14                St Kilda   3.7452          68.1137          64.3684
5                Fremantle  -0.6522          75.4279          76.0801
4                 Essendon  -2.4313          81.5779          84.0092
13                Richmond  -3.0330          80.5098          83.5428
7               Gold Coast  -3.4850          78.9810          82.4660
8   Greater Western Sydney  -5.0494          73.2473          78.2967
9                 Hawthorn -16.9910          57.6431          74.6341
11         North Melbourne -31.5280          66.5557          98.0837
16              West Coast -55.1277          44.9663         100.0940

In [86]:
round_id = "202317"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 30.72
Overall MAE: 27.95

                      Team   Rating  Offensive_Value  Defensive_Value
1           Brisbane Lions  26.5300          77.8548          51.3248
12           Port Adelaide  20.0349          89.4592          69.4243
10               Melbourne  13.1935          75.1318          61.9384
3              Collingwood  12.1396          88.5417          76.4021
6                  Geelong  10.9614          85.1732          74.2118
2                  Carlton  10.5249          86.5611          76.0362
15                  Sydney   7.5838          83.7078          76.1240
17        Western Bulldogs   6.6424          87.7841          81.1418
0                 Adelaide   6.5038          76.3866          69.8828
14                St Kilda   4.2203          62.2583          58.0380
13                Richmond   0.6896          81.0181          80.3286
4                 Essendon   0.4573          84.6443          84.1870
8   Greater Western Sydney  -2.5475          79.4295          81.9771
5                Fremantle  -3.7532          68.5328          72.2860
7               Gold Coast  -6.7876          79.1177          85.9053
9                 Hawthorn -17.2888          59.0453          76.3341
11         North Melbourne -35.1092          58.8636          93.9728
16              West Coast -57.6165          47.2013         104.8179

In [87]:
round_id = "202318"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 24.44
Overall MAE: 27.90

                      Team   Rating  Offensive_Value  Defensive_Value
1           Brisbane Lions  24.9653          81.9435          56.9783
6                  Geelong  16.5807          89.5404          72.9597
12           Port Adelaide  15.8730          85.7708          69.8978
3              Collingwood  12.9799          89.2532          76.2733
2                  Carlton  11.6308          85.7659          74.1350
10               Melbourne  10.7858          71.6468          60.8610
15                  Sydney   7.5053          80.3035          72.7982
17        Western Bulldogs   5.2982          82.6013          77.3031
0                 Adelaide   4.9911          78.5811          73.5900
13                Richmond   3.7337          82.0582          78.3245
14                St Kilda   0.7051          59.4859          58.7808
8   Greater Western Sydney  -1.4305          71.5174          72.9479
7               Gold Coast  -3.0158          74.4490          77.4648
5                Fremantle  -5.4322          52.7396          58.1718
4                 Essendon  -6.3039          76.1958          82.4997
9                 Hawthorn -10.1171          66.2706          76.3877
11         North Melbourne -37.0411          51.2910          88.3322
16              West Coast -54.9679          51.0961         106.0641

In [88]:
round_id = "202319"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 20.17
Overall MAE: 27.80

                      Team   Rating  Offensive_Value  Defensive_Value
1           Brisbane Lions  23.0034          74.2295          51.2261
12           Port Adelaide  17.0443          91.0532          74.0090
2                  Carlton  16.8536          69.3488          52.4952
6                  Geelong  14.3880          85.9229          71.5349
10               Melbourne  10.3304          71.9468          61.6164
3              Collingwood   8.9234          92.4896          83.5662
15                  Sydney   8.5702          90.5860          82.0158
17        Western Bulldogs   7.1123          91.8349          84.7226
13                Richmond   6.1687          81.3203          75.1517
8   Greater Western Sydney   3.9896          73.8535          69.8639
0                 Adelaide   3.8688          72.0375          68.1687
14                St Kilda   2.8155          64.5790          61.7635
5                Fremantle  -6.7044          60.6729          67.3773
7               Gold Coast  -7.9912          75.0354          83.0266
4                 Essendon  -8.0175          77.3167          85.3342
9                 Hawthorn -11.9137          63.6756          75.5894
11         North Melbourne -35.5179          53.4190          88.9369
16              West Coast -55.8570          51.6213         107.4783

In [89]:
round_id = "202320"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 28.61
Overall MAE: 27.81

                      Team   Rating  Offensive_Value  Defensive_Value
1           Brisbane Lions  18.5792          73.1359          54.5567
2                  Carlton  14.3904          75.6794          61.2890
10               Melbourne  12.8580          74.6597          61.8017
6                  Geelong  12.2484          89.8278          77.5794
12           Port Adelaide  12.1897          89.8883          77.6986
3              Collingwood   8.8089          91.5307          82.7218
15                  Sydney   8.1380          92.7864          84.6484
0                 Adelaide   6.6321          72.4920          65.8599
17        Western Bulldogs   5.8972          86.3811          80.4840
14                St Kilda   4.9112          62.8704          57.9591
8   Greater Western Sydney   4.0946          74.8021          70.7075
13                Richmond   1.9912          78.4817          76.4905
7               Gold Coast  -5.0683          80.1464          85.2147
5                Fremantle  -5.3331          66.8541          72.1873
4                 Essendon  -7.6405          70.5443          78.1849
9                 Hawthorn -13.0997          55.6270          68.7267
11         North Melbourne -33.0240          56.5140          89.5380
16              West Coast -49.2134          50.6878          99.9012

In [90]:
round_id = "202321"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 22.97
Overall MAE: 27.74

                      Team   Rating  Offensive_Value  Defensive_Value
1           Brisbane Lions  17.1301          74.4099          57.2797
2                  Carlton  14.4705          70.5038          56.0333
10               Melbourne  13.1316          80.0098          66.8782
6                  Geelong  11.6628          87.9515          76.2887
17        Western Bulldogs  10.5474          88.5525          78.0051
12           Port Adelaide  10.3315          66.9429          56.6114
0                 Adelaide  10.3071          69.1388          58.8317
15                  Sydney   6.2726          91.0436          84.7710
8   Greater Western Sydney   4.7367          84.6088          79.8721
3              Collingwood   4.5628          86.2269          81.6642
14                St Kilda   2.9009          64.2834          61.3825
13                Richmond  -3.4479          72.7592          76.2071
5                Fremantle  -5.2086          70.4134          75.6221
4                 Essendon  -5.3219          68.8602          74.1822
9                 Hawthorn  -8.4245          60.3701          68.7945
7               Gold Coast  -8.8997          71.1893          80.0890
11         North Melbourne -31.2810          52.7441          84.0250
16              West Coast -45.8466          51.8731          97.7197

In [91]:
round_id = "202322"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 25.33
Overall MAE: 27.71

                      Team   Rating  Offensive_Value  Defensive_Value
1           Brisbane Lions  14.3829          78.3365          63.9536
2                  Carlton  12.6624          71.3044          58.6420
12           Port Adelaide  12.1879          82.8976          70.7096
10               Melbourne  12.1794          84.2254          72.0459
0                 Adelaide  10.3105          68.1386          57.8280
6                  Geelong   8.7559          83.4557          74.6997
17        Western Bulldogs   8.4573          88.4884          80.0311
15                  Sydney   7.5448          86.6767          79.1319
3              Collingwood   5.8471          93.1069          87.2598
14                St Kilda   3.9292          70.7085          66.7793
5                Fremantle   2.0928          71.1965          69.1037
8   Greater Western Sydney   1.3734          79.3069          77.9335
4                 Essendon  -3.1061          69.1301          72.2362
13                Richmond  -4.4215          78.1522          82.5736
9                 Hawthorn  -6.5467          65.3449          71.8916
7               Gold Coast  -9.9092          73.3250          83.2342
11         North Melbourne -29.8365          54.2329          84.0694
16              West Coast -48.0425          55.0275         103.0700

In [92]:
round_id = "202323"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 30.30
Overall MAE: 27.74

                      Team   Rating  Offensive_Value  Defensive_Value
10               Melbourne  14.2211          80.4918          66.2707
1           Brisbane Lions  13.3991          83.7386          70.3395
12           Port Adelaide  12.2723          81.5722          69.2999
2                  Carlton  11.9968          78.6517          66.6550
8   Greater Western Sydney   9.4932          85.5129          76.0197
0                 Adelaide   8.8210          70.9359          62.1149
14                St Kilda   8.4066          72.8856          64.4790
17        Western Bulldogs   7.6767          84.7130          77.0363
15                  Sydney   7.2487          88.1849          80.9362
3              Collingwood   4.8079          84.9231          80.1152
6                  Geelong   3.0100          78.9894          75.9794
5                Fremantle   0.5804          67.9997          67.4193
13                Richmond  -3.0293          87.7251          90.7544
9                 Hawthorn  -9.1517          50.2269          59.3785
7               Gold Coast  -9.5188          77.1622          86.6810
4                 Essendon -11.0526          75.7584          86.8109
11         North Melbourne -27.8029          52.9904          80.7933
16              West Coast -43.3033          56.1840          99.4874

In [93]:
round_id = "202324"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: 26.19
Overall MAE: 27.72

                      Team   Rating  Offensive_Value  Defensive_Value
1           Brisbane Lions  16.6130          79.9360          63.3230
0                 Adelaide  14.5966          68.4918          53.8952
12           Port Adelaide  14.2237          79.2363          65.0126
10               Melbourne  13.2831          78.9685          65.6854
8   Greater Western Sydney  11.0151          85.1777          74.1626
2                  Carlton   8.3258          80.0624          71.7366
3              Collingwood   7.1800          89.9567          82.7767
15                  Sydney   6.0397          86.3646          80.3249
17        Western Bulldogs   5.6859          81.8324          76.1464
6                  Geelong   3.9321          61.6066          57.6745
14                St Kilda   3.0122          62.6950          59.6828
5                Fremantle   2.8542          62.5483          59.6940
13                Richmond  -5.9050          68.0475          73.9525
9                 Hawthorn -10.5684          56.9224          67.4908
7               Gold Coast -10.9781          78.7772          89.7553
4                 Essendon -12.8002          64.5454          77.3455
11         North Melbourne -22.6115          52.6310          75.2425
16              West Coast -45.6306          57.3331         102.9637

In [86]:
round_id = "2023F1"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

Round MAE: nan
Overall MAE: nan

                      Team   Rating  Offensive_Value  Defensive_Value
2                  Carlton  12.5949          97.8698          85.2749
10               Melbourne  12.5291         110.2879          97.7588
12           Port Adelaide  12.1954         108.4921          96.2966
1           Brisbane Lions  11.3704         102.5713          91.2009
0                 Adelaide  10.3000          93.2300          82.9300
14                St Kilda   9.5547          94.7783          85.2237
8   Greater Western Sydney   9.2834         111.0708         101.7874
17        Western Bulldogs   8.7621         112.1202         103.3580
15                  Sydney   7.4716         118.5591         111.0874
3              Collingwood   5.2744         104.9925          99.7181
6                  Geelong   3.3805          96.8933          93.5128
5                Fremantle   1.4153          92.5321          91.1168
13                Richmond  -2.6017         110.9178         113.5195
9                 Hawthorn  -7.7394          84.2561          91.9955
7               Gold Coast  -9.0643         100.6601         109.7244
4                 Essendon -11.0997          96.7679         107.8675
11         North Melbourne -28.6156          70.1846          98.8003
16              West Coast -45.7547          70.6541         116.4088

In [ ]:
round_id = "2023F2"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

In [ ]:
round_id = "2023F3"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)

In [ ]:
round_id = "2023F4"
ratings.update_round_values(player_stats, round_id)
round_projections_dict[round_id] = get_round_predictions(player_stats, round_id, match_std = 35)
round_mae_dict[round_id] = np.mean(np.array(list({v['mae'] for (k, v) in round_projections_dict[round_id].items()})))
print("Round MAE: {:.2f}".format(round_mae_dict[round_id]))
print("Overall MAE: {:.2f}".format(np.mean(np.array(list(round_mae_dict.values())))))
ratings.team_values[round_id].sort_values(by='Rating', ascending = False)